# Get it here
# https://my.telegram.org/auth?to=apps
api_id = 222222
api_hash = "2222222222"

# This filename will store telegram auth session
app_name = "TeleGrab"

# List of admin accounts
admins = ["@my_account"]

stop_words = ["etherium", "bitcoin"]

# Try clean media to turn on instant link preview
try_show_instant = True
link_for_instant_preview = ["http://", "https://"]

# Channel id or name via @ for accumulate posts
my_channel_id = -1
# List of channels to grab id or name via @
channels = [-2, -3]
